.landing-main{
@media (max-width: 768px) {

  .navbar-container input[type="checkbox"] {
    left: 20px !important;
    right: inherit;

  }
  .navbar-container .hamburger-lines {

    left: 20px !important;
    right: inherit;


  }


}
}
