<div class="container">
	<section class="accordion arrows" id="commonQuestions">
      <header class="box">
        <label for="acc-close" class="box-title"  translate ="landing.commonQuestions.mainTitle"></label>
      </header>
      <input type="radio" name="accordion" id="cb1" />
      <section class="box" >
        <label class="box-title" for="cb1" translate="landing.commonQuestions.title1"></label>
        <label class="box-close" for="acc-close"></label>
        <div class="box-content text-main-landing" translate="landing.commonQuestions.description1"> <a href="" translate class="text-main-landing">landing.commonQuestions.clickHere</a></div>
      </section>
      <input type="radio" name="accordion" id="cb2" />
      <section class="box" >
        <label class="box-title" for="cb2" translate="landing.commonQuestions.title2"></label>
        <label class="box-close" for="acc-close"></label>
        <div class="box-content text-main-landing" translate="landing.commonQuestions.description2"></div>
      </section>
      <input type="radio" name="accordion" id="cb3" />
      <section class="box" >
        <label class="box-title" for="cb3" translate="landing.commonQuestions.title3"></label>
        <label class="box-close" for="acc-close"></label>
        <div class="box-content text-main-landing" translate="landing.commonQuestions.description3"></div>
      </section>
      <input type="radio" name="accordion" id="cb4" />
      <section class="box" >
        <label class="box-title" for="cb4" translate="landing.commonQuestions.title4"></label>
        <label class="box-close" for="acc-close"></label>
        <div class="box-content text-main-landing" translate="landing.commonQuestions.description4"></div>
      </section>
      <input type="radio" name="accordion" id="cb5" />
      <section class="box" >
        <label class="box-title" for="cb5" translate="landing.commonQuestions.title5"></label>
        <label class="box-close" for="acc-close"></label>
        <div class="box-content text-main-landing" translate="landing.commonQuestions.description5"></div>
      </section>
      <input type="radio" name="accordion" id="cb6" />
      <section class="box" >
        <label class="box-title" for="cb6" translate="landing.commonQuestions.title6"></label>
        <label class="box-close" for="acc-close"></label>
        <div class="box-content text-main-landing" translate="landing.commonQuestions.description6"></div>
      </section>
      <input type="radio" name="accordion" id="acc-close" />

    </section>
  </div>



