<div id="services" class="about-us section">
  <svg  class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,128L48,117.3C96,107,192,85,288,85.3C384,85,480,107,576,133.3C672,160,768,192,864,202.7C960,213,1056,203,1152,181.3C1248,160,1344,128,1392,112L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
  <div class="container">
    <div class="row">

      <div class="col-12 align-self-center">
        <div class="services">
          <div class="row">
            <div class="col-lg-12 text-center mb-5 main-services">
              <h2 class="ServicesH" translate="landing.service.sectionTitle"></h2>
              <p class="ServicesP h3" translate="landing.service.sectionDescription"> </p>
            </div>
            <div class="col-lg-6">
              <div class="item">
                  <div class="row justify-content-center align-items-center ">
                    <div class="col-lg-2">
                      <div class="icon m-0 ">
                        <i class="fa-solid m-0 p-0 fa-1 text-main-landing fs-1x fw-bold"></i>
                      </div>
                    </div>
                    <div class="col-lg-10">
                      <h4 translate="landing.service.subTitle1"></h4>
                      <p translate="landing.service.subDescription1">

                      </p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                  <div class="row justify-content-center align-items-center">
                    <div class="col-lg-2">
                      <div class="icon m-0 ">
                        <i class="fa-solid m-0 p-0 fa-2 text-main-landing fs-1x fw-bold"></i>
                      </div>
                    </div>
                    <div class="col-lg-10">
                      <h4 translate="landing.service.subTitle2"></h4>
                      <p translate="landing.service.subDescription2">
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                  <div class="row justify-content-center align-items-center">
                    <div class="col-lg-2">
                      <div class="icon m-0 ">
                        <i class="fa-solid m-0 p-0 fa-3 text-main-landing fs-1x fw-bold"></i>
                      </div>
                    </div>
                    <div class="col-lg-10">
                      <h4 translate="landing.service.subTitle3"></h4>
                      <p translate="landing.service.subDescription3">
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="item">
                  <div class="row justify-content-center align-items-center">
                    <div class="col-lg-2">
                      <div class="icon m-0 ">
                        <i class="fa-solid m-0 p-0 fa-4 text-main-landing fs-1x fw-bold"></i>
                      </div>
                    </div>
                    <div class="col-lg-10">
                      <h4 translate="landing.service.subTitle4"></h4>
                      <p translate="landing.service.subDescription4">
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <svg class="wave"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#fff" fill-opacity="1" d="M0,128L48,117.3C96,107,192,85,288,85.3C384,85,480,107,576,133.3C672,160,768,192,864,202.7C960,213,1056,203,1152,181.3C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
  </svg>
</div>

