<div id="knowledge" class="our-portfolio section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <div class="section-heading">
          <h2 class="text-center" translate>
            landing.cardsSeller.titleBefore <span translate>landing.cardsSeller.title </span>landing.cardsSeller.titleAfter
            <p class="fs-4 mt-4" translate>landing.cardsSeller.description</p>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="item">
          <div class="showed-content">
            <i class="fas fa-shipping-fast fs-3x"></i>
            <h4 class="fs-2 fs-bold" translate>landing.cardsSeller.title1</h4>
            <p class="fs-3 fs-bold" translate>landing.cardsSeller.description1</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="item">
          <div class="showed-content">
            <i class="fas fa-store fs-3x "></i>
            <h4 class="fs-2 fs-bold" translate>landing.cardsSeller.title2</h4>
            <p class="fs-3 fs-bold" translate>landing.cardsSeller.description2</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="item">
          <div class="showed-content">
            <i class="fa-solid fa-headset fs-3x"></i>
            <h4 class="fs-2 fs-bold" translate>landing.cardsSeller.title3</h4>
            <p class="fs-3 fs-bold" translate>landing.cardsSeller.description3</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="item">
          <div></div>
          <div class="showed-content">
            <i class="fa-solid fa-dollar-sign fs-3x"></i>
            <h4 class="mt-3 mb-3" translate>landing.cardsSeller.title4</h4>
            <p translate> landing.cardsSeller.description4</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="item">
          <div class="showed-content">
            <i class="fas fa-headset fs-3x "></i>
            <h4 class="mt-3 mb-3" translate>landing.cardsSeller.title5</h4>
            <p translate>landing.cardsSeller.description5</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="item">
          <div class="showed-content">
            <i class="fa-solid fa-chart-line fs-3x"></i>
            <h4 class="mt-3 mb-3" translate>landing.cardsSeller.title6</h4>
            <p translate> landing.cardsSeller.description6</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
