<div class="header   pt-5" id="seller-home">
  <div class="inner-header  row   ">
    <div class="main-banner d-flex align-items-center m-0 p-0" id="top">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6 align-self-center">
                <div class="left-content header-text">
                  <h2 translate="landing.mainSeller.title">
                    <p translate="landing.mainSeller.description"></p>
                  </h2>
                  <a href="https://affilate.connect-platform.net/auth/affilate-login"
                    class="btn btn-lg fw-bold fs-2 background-secondary-landing  mx-5 " target="_blank"
                    translate="landing.mainSeller.joinAsSeller">
                  </a>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="right-image">
                  <img class="roundedImg rounded-3"
                    src="https://media.istockphoto.com/id/1363104989/photo/diverse-team-of-professional-businesspeople-meeting-in-the-office-conference-room-creative.jpg?s=612x612&w=0&k=20&c=TGdAKum3fkCmS0R57vk7tbZaGkQ_Lc9EC2uvOhTowIE="
                    alt="team meeting" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-0 p-0">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>