<div class="container">
  <div id="seller-about" class="services mt-5 mb-5">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="left-content header-text">
          <h2 class="mb-3" translate="landing.aboutUsSeller.title"></h2>
          <p translate="landing.aboutUsSeller.description"></p>
          <p translate><i class=" fa fa-check"></i>landing.aboutUsSeller.descriptioni1</p>
          <p translate><i class=" fa fa-check"></i>landing.aboutUsSeller.descriptioni2</p>
          <p translate><i class=" fa fa-check"></i>landing.aboutUsSeller.descriptioni3</p>
          <p translate><i class=" fa fa-check"></i>landing.aboutUsSeller.descriptioni4
          <p>
        </div>
      </div>
      <div class="col-lg-6 d-none d-md-flex">
        <div class="right-image ">
          <img src="assets/media/landing/services-left-image.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>