<app-toolbar [total]="pagination!.totalItems" class="app-toolbar" [appToolbarLayout]="'reports'" id="kt_app_toolbar">
  <ng-container #content>
    <li   class="nav-item">
      <button *ngIf="(lengthSelect>=1)" (click)="openModalTitle(deleteModal)"
        class="btn btn-sm fs-4 py-2   fw-bold btn-danger mx-3" translate> <i class="fa fa-trash"></i>
        general.action.delete
      </button>
    </li>
    <li      class="nav-item">
      <button (click)="openModalTitle(operation)" class=" btn btn-sm fs-4 py-2  fw-bold btn-success mx-2" translate>
        <i class="fa fa-plus mx-1"></i> general.action.register
      </button>
    </li>
   </ng-container>
</app-toolbar>

<div id="kt_app_content" class="app-content  flex-column-fluid ">
  <div id="kt_app_content_container" class="app-container-fluid  ">
    <div class="card card-flush">
      <div class="card-header align-items-center py-2 gap-2 gap-md-5">
        <app-search-simple (searchChange)="searchChange($event)"></app-search-simple>
          <table-length [lengthTable]="tableLengthSelect" (lengthChange)="ListItemChange($event)"
       ></table-length>
     </div>
      <div class="card-body pt-0">
        <div class="table-responsive">

          <p-table #tableMaster [value]="entities!" [rows]="pagination!.pageSize" dataKey="id" [lazy]="true"
          (onLazyLoad)="tableChange($event)" (selectionChange)="onSelectionChange($event)"
          [totalRecords]="pagination!.totalItems" >
            <ng-template pTemplate="header" let-columns>
              <tr class="fs-4">
                <th style="width: 4rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width:.5%" translate>#</th>
                <th pSortableColumn="name" style="width:15%" translate="support.contactUs.name">
                  <i class="fas fa-sort"></i>
                </th>
                <th pSortableColumn="phone" style="width:10%" translate="support.contactUs.phone">
                  <i class="fas fa-sort"></i>
                </th>
                <th pSortableColumn="email" style="width:15%" translate="support.contactUs.email">
                  <i class="fas fa-sort"></i>
                </th>
                <th pSortableColumn="isView" style="width:7%" translate="support.contactUs.isView">
                  <i class="fas fa-sort"></i>
                </th>
                <th pSortableColumn="createdDate" style="width:13%" translate="general.table.createdDate">
                  <i class="fas fa-sort"></i>
                </th>
                <th pSortableColumn="lastEditDate" style="width:13%" translate="general.table.lastEditDate">
                  <i class="fas fa-sort"></i>
                </th>
             <th translate></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-entity let-index="rowIndex" let-columns="columns">
              <tr class="fs-5">
                <td>
                  <p-tableCheckbox [value]="entity"></p-tableCheckbox>
                </td>
                <td>{{index+1}}</td>
                <td>{{entity.name}}</td>
                <td>{{entity.phone}}</td>
                <td>{{entity.email}}</td>
                <td>
                  <i [ngClass]="{'fa-check text-success': entity.isView,'fa-times text-danger': !entity.isView}"
                    class="fa  fs-1x" aria-hidden="true"></i>
                </td>
                <td>{{entity.createdDate | date:"HH:mm yyyy-MM-dd"}}</td>
                <td>{{entity.lastEditDate | date:"HH:mm yyyy-MM-dd"}}</td>
                <td>
                  <span  (click)=" EditModel(entity.id,operation) "
                    class="btn btn-icon mx-1 btn-bg-light btn-active-color-primary btn-sm me-1">
                    <app-keenicon name="pencil" class="fs-2 text-primary mx-2 "></app-keenicon>
                   </span>
                 <span  (click)="openModal(entity.id,deleteModal) "
                    class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm">
                    <app-keenicon name="trash" class="fs-2 text-danger mx-2 "></app-keenicon>
                     </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
              </div>
        <div *ngIf="pagination!.totalItems<=0" class="text-center text-danger text-bold fs-3 p-3" translate>
          general.message.noData</div>
        <div *ngIf="pagination!.totalItems>0" class="row px-2 py-4 overflow-hidden">
          <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
            <ngb-pagination-info [pagination]="pagination"></ngb-pagination-info>
          </div>
          <div class="col-sm-12 col-md-7 fs-3 d-flex align-items-center justify-content-center justify-content-md-end">
            <ngb-pagination (pageChange)="pageChanged($event)" [pageSize]="pagination!.pageSize"
              [collectionSize]="pagination!.totalItems" [(page)]="pagination!.pageNumber" [maxSize]="10" [rotate]="true"
              [boundaryLinks]="true"></ngb-pagination>
          </div>
        </div>

        </div>
      </div>
    </div>

    <ng-template #operation let-modal>
      <form (ngSubmit)="OnSubmit()" #formEntity="ngForm">
        <ngx-ui-loader [hasProgressBar]="false" [fgsType]="loaderOperationShap"
          [loaderId]="operationLoader"></ngx-ui-loader>
        <div class="modal-header p-4 background-main-landing">
          <h4 class="modal-title text-white" id="modal-basic-title fs-3"><span translate>general.action.register
            </span><span translate>{{titleOperation}} </span></h4>
          <button type="button" class="background-main-landing border-0" aria-label="Close" (click)="modal.dismiss()"> <i
              class="fas  text-white fa-times"></i></button>
        </div>
        <div class="modal-body body-operation">
          <div class="row">
            <div class="col-12  ">
              <label for="name" class="form-label register fs-3 w-100" translate>support.contactUs.name</label>
              <input InputTirmFilter name="name"   #name="ngModel" [(ngModel)]="form.name"
                type="text" class="form-control form-control-sm fs-4" id="name"  register>
              <div *ngIf="name.invalid && name.touched" class="text-danger text-center" translate>
                general.message.filedIdRequired</div>
            </div>
          <div class="col-12 ">
              <label for="phone" class="form-label  required fs-3 w-100" translate>support.contactUs.phone</label>
              <input InputTirmFilter name="phone"   #phone="ngModel" [(ngModel)]="form.phone"
                type="text" class="form-control form-control-sm fs-4" id="phone" required>
              <div *ngIf="phone.invalid && phone.touched" class="text-danger text-center" translate>
                general.message.filedIdRequired</div>
            </div>
            <div class="col-12 ">
              <label for="email" class="form-label  required fs-3 w-100" translate>support.contactUs.email</label>
              <input InputTirmFilter name="email"   #email="ngModel" [(ngModel)]="form.email"
                type="email" class="form-control form-control-sm fs-4" id="email" required>
              <div *ngIf="email.invalid && email.touched" class="text-danger text-center" translate>
                general.message.filedIdRequired</div>
            </div>
            <div class="col-12 ">
              <label for="message" class="form-label  required fs-3 w-100" translate>support.contactUs.message</label>
              <textarea rows="2" InputTirmFilter name="message"   #message="ngModel" [(ngModel)]="form.message"
                type="text" class="form-control form-control-sm fs-4" id="message" required></textarea>
              <div *ngIf="message.invalid && message.touched" class="text-danger text-center" translate>
                general.message.filedIdRequired</div>
            </div>
            <div class="col-12 ">
              <label for="note" class="form-label    fs-3 w-100" translate>support.contactUs.note</label>
              <input InputTirmFilter name="note"   #note="ngModel" [(ngModel)]="form.note"
                type="text" class="form-control form-control-sm fs-4" id="note"  >
              <div *ngIf="note.invalid && note.touched" class="text-danger text-center" translate>
                general.message.filedIdRequired</div>
            </div>

          </div>
          <div class="row">
                <div class="col-12 col-md-6">
              <label class="form-label w-100 fs-3 " translate>support.contactUs.isView</label>
              <div class="icheck-primary icheck d-block">

                <div class="checkbox-inline">
                  <label class="checkbox checkbox-lg">
                    <div class="form-check form-check-custom  ">
                      <input name="isView" [(ngModel)]="form.isView" #isView="ngModel" type="checkbox"
                        id="isView" class="form-check-input " type="checkbox" value="" id="isView" checked="checked">
                    </div>

                  </label>

                </div>
                <label for="isView"> </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer p-0 m-0 d-flex justify-content-between">
          <button [ngClass]="{'background-main-landing': isEditForm,'btn-success':!isEditForm}" [disabled]="!formEntity.valid "
            type="submit" class=" btn btn-md" aria-label="register">
            <span translate>general.action.save</span>
          </button>
          <button type="button" class="btn btn-md btn-danger  " aria-label="Close" (click)="modal.dismiss()">
            <span translate>general.action.close</span>
          </button>
        </div>
      </form>
    </ng-template>
    <ng-template #deleteModal let-modal>
      <app-delete-modal (deleteConfirm)="DeleteConfirm()" (dismiss)="modal.dismiss()"></app-delete-modal>
    </ng-template>
