<ngb-carousel   >
  <ng-template ngbSlide   >
    <img  width="100%"  src="assets/media/custom/main1.svg" alt="Random first slide">
  </ng-template>
  <ng-template ngbSlide  >
    <img  width="100%"  src="assets/media/custom/main2.svg" alt="Random second slide">
  </ng-template>
  <ng-template ngbSlide  >
    <img  width="100%"  src="assets/media/custom/main3.svg" alt="Random third slide">
  </ng-template>
  <ng-template ngbSlide  >
    <img  width="100%"  src="assets/media/custom/main4.svg" alt="Random third slide">
  </ng-template>
</ngb-carousel>
