<div id="knowledge" class="our-portfolio section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <div class="section-heading">
          <h2 class="text-center" translate>
            landing.cardsMarketer.titleBefore <span translate>landing.cardsMarketer.title </span>landing.cardsMarketer.titleAfter
            <p class="fs-4 mt-4" translate>landing.cardsMarketer.description</p>
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="item">
          <div class="showed-content">
            <i class="fas fa-shipping-fast fs-3x"></i>
            <h4 class="fs-2 fs-bold" translate>landing.cardsMarketer.title1</h4>
            <p class="fs-3 fs-bold" translate>landing.cardsMarketer.description1</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="item">
          <div class="showed-content">
            <i class="fas fa-store fs-3x "></i>
            <h4 class="fs-2 fs-bold" translate>landing.cardsMarketer.title2</h4>
            <p class="fs-3 fs-bold" translate>landing.cardsMarketer.description2</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="item">
          <div class="showed-content">
            <i class="fas fa-list-alt fs-3x"></i>
            <h4 class="fs-2 fs-bold" translate>landing.cardsMarketer.title3</h4>
            <p class="fs-3 fs-bold" translate>landing.cardsMarketer.description3</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="item">
          <div></div>
          <div class="showed-content">
            <i class="fas fa-headset fs-3x "></i>
            <h4 class="mt-3 mb-3" translate>landing.cardsMarketer.title4</h4>
            <p translate> landing.cardsMarketer.description4</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="item">
          <div class="showed-content">
             <i class="fa-solid fa-dollar-sign fs-3x"></i>
            <h4 class="mt-3 mb-3" translate>landing.cardsMarketer.title5</h4>
            <p translate>landing.cardsMarketer.description5</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-3">
        <div class="item">
          <div class="showed-content">
            <i class="fa-solid fa-hand-holding-dollar fs-3x"></i>

            <h4 class="mt-3 mb-3" translate>landing.cardsMarketer.title6</h4>
            <p translate> landing.cardsMarketer.description6</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
